// stylus 全局常量定义
.icon {
  display: inline-block;
  width: 32px;
  height: @width;
  margin: 0 5px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.icon-back {
    background-image: url('../img/back.png');
  }

  // login
  &.icon-user {
    background-image: url('../img/index_user.png');
  }

  &.icon-password {
    background-image: url('../img/index_lock.png');
  }

  &.icon-code {
    background-image: url('../img/code.png');
  }

  &.icon-change {
    background-image: url('../img/index_change.png');
  }

  // header
  &.icon-enterprise {
    background-image: url('../img/Enterprise_Information.png');
  }

  &.icon-msg {
    background-image: url('../img/Message_Center.png');
  }

  &.icon-forget {
    background-image: url('../img/Change_Password.png');
  }

  &.icon-exit {
    background-image: url('../img/Quit.png');
  }
  &.icon-reg {
    background-image: url('../img/newuser_1.png');
  }

  &.icon-nav1 {
    background-image: url('../img/top_sxgl_.png');
  }

  &.icon-nav2 {
    background-image: url('../img/top_edgl_.png');
  }

  &.icon-nav3 {
    background-image: url('../img/top_ywgl_.png');
  }

  &.icon-nav4 {
    background-image: url('../img/top_htgl_.png');
  }

  &.icon-nav5 {
    background-image: url('../img/top_ddzys_.png');
  }

  &.icon-nav6 {
    background-image: url('../img/top_dzqz_.png');
  }
}

// 导航高亮样式
.router-link-active, .subnav a:hover {
  > .icon-nav1 {
    background-image: url('../img/top_sxgl.png');
  }

  > .icon-nav2 {
    background-image: url('../img/top_edgl.png');
  }

  > .icon-nav3 {
    background-image: url('../img/top_ywgl.png');
  }

  > .icon-nav4 {
    background-image: url('../img/top_htgl.png');
  }

  > .icon-nav5 {
    background-image: url('../img/top_ddzys.png');
  }

  > .icon-nav6 {
    background-image: url('../img/top_dzqz.png');
  }
}
