/**
 * 将px单位的数值转换为rem单位的数值
 * 
 * $size: 大小
 * $base：PS的长度
 */
$default-width = 750px;
$arr = 5 10 15 20 25 30 35 40 45 50;
px2rem($size, $base = $default-width) {
	return 0rem + $size * 10 / $base;
}

// 位移样式
loopPostion() {
    for $i in $arr {
        .mt{$i} { margin-top: (1px * $i) !important;}
        .mb{$i} { margin-bottom: (1px * $i) !important;}
        .ml{$i} { margin-left: (1px * $i) !important;}
        .mr{$i} { margin-right: (1px * $i) !important;}

        .pt{$i} { padding-top: (1px * $i) !important;}
        .pb{$i} { padding-bottom: (1px * $i) !important;}
        .pl{$i} { padding-left: (1px * $i) !important;}
        .pr{$i} { padding-right: (1px * $i) !important;}

        .pd{$i} { padding: (1px * $i) !important;}
        .mg{$i} { margin: (1px * $i) !important;}

	}
}